/bin/
*/.DS_Store
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
/.gradle
/build/
/run/
/.settings/
/external/
*~
/eclipse/
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
forge-1.7.2-10.12.1.1060-changelog.txt
CREDITS-fml.txt
.project
.classpath